In [1]:
import pandas as pd
import numpy as np
import seaborn as sns

In [2]:
product = pd.read_excel('제품별판매량.xlsx')

In [3]:
product

     년도  A제품  B제품
0  2015  240  250
1  2016  260  280
2  2017  270  270
3  2018  290  280
4  2019  360  360

In [4]:
# Compund Annual Growth Rate 연평균 성장률 계산 함수

def cagr(start,end,len):
    return (end/start)**(1/len)-1

In [6]:
product_a = list(product['A제품'])
product_a

[240, 260, 270, 290, 360]

In [7]:
cagr_A = cagr(product_a[0], product_a[-1], len(product_a))
cagr_A # 연평균 성장률 계산 함수

0.08447177119769855

In [8]:
product_b = list(product['B제품'])
product_b

[250, 280, 270, 280, 360]

In [9]:
cagr_B = cagr(product_b[0],product_b[-1],len(product_b))
cagr_B

0.07565375693257015

In [10]:
f'A제품 연평균 판매 증가율 : {cagr_A:.2%}, B제품 연평균 판매 증가율 : {cagr_B:.2%}'

'A제품 연평균 판매 증가율 : 8.45%, B제품 연평균 판매 증가율 : 7.57%'