In [1]:
import pandas as pd
import seaborn as sns
import numpy as np
from scipy import stats

In [2]:
tips = sns.load_dataset('tips')

In [3]:
desc = tips.describe()
desc

       total_bill         tip        size
count  244.000000  244.000000  244.000000
mean    19.785943    2.998279    2.569672
std      8.902412    1.383638    0.951100
min      3.070000    1.000000    1.000000
25%     13.347500    2.000000    2.000000
50%     17.795000    2.900000    2.000000
75%     24.127500    3.562500    3.000000
max     50.810000   10.000000    6.000000

In [4]:
desc['total_bill']['std']

8.902411954856856

In [9]:
quartile3 = desc['total_bill']['75%']
quartile3

24.127499999999998

In [10]:
quartile1 = desc['total_bill']['25%']
quartile1

13.3475

In [11]:
IQR = quartile3 - quartile1
IQR

10.779999999999998

In [12]:
desc['tip']['max']

10.0